body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, sans-serif;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: #e5e7eb;
}

.header,
.header-links {
  display: flex;
  margin: 0;
}

.header {
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  color: #ffffff;
  padding: 8px 0;
}

.logo {
  font-weight: bolder;
  font-size: 24px;
  color: #f9f8f8;
}

.header-links {
  padding: 5px;
  gap: 18px;
  font-size: 18px;
}

.btn {
  border-radius: 5px;
  width: fit-content;
  padding: 6px 30px;
  color: #ffffff;
  font-weight: 600;
  background-color: #3882f6;
  border: none;
  font-size: 18px;
}

#hero-img {
  height: 300px;
  width: 500px;
  flex-shrink: 0;
}

.hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;
}

.hero-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  margin-right: 40px;
  box-sizing: border-box;
}

.hero {
  padding: 0;
  margin: 0;
}

.hero.big {
  font-weight: bolder;
  font-size: 48px;
  color: #f9f8f8;
}

.hero.small {
  font-size: 18px;
  color: #e5e7eb;
}

#info-header {
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  color: #1f2937;
}

.imgbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  height: 370px;
  padding: 20px;
}

.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
}

.img-crop {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 5px 6px #eeeeee;
}

.info-pictext {
  text-align: center;
  font-size: 11px;
}
